# IAU Projekt

# Fáza 2 - predspracovanie údajov

V tejto fáze sa od Vás očakáva:
* Realizujte predspracovanie údajov pre strojové učenie. Výsledkom bude upravená dátová sada vo formáte csv alebo tsv, kde jedno pozorovanie musí byť opísané jedným riadkom.
* V 3. fáze budeme pracovať s algoritmami strojového učenia, ktorých implementácia v scikit-learn podporuje len numerické dáta. To vedie k tomu že treba niečo spraviť s nenumerickými dátami.
* Replikovateľnosť predspracovania na trénovacej a testovacej množine dát.

Keď sa predspracovaním mohol zmeniť tvar a charakteristiky dát (počet atribútov, distribúcie hodnôt a pod.), je možné že treba znovu zrealizovať podstatné časti prieskumnej analýzy a opakovane podľa Vašej potreby. Bodovanie znovu za EDA už nebudeme, zmeny ale zdokumentujte. Problém s dátami môžete riešiť iteratívne v každej fáze aj vo všetkých fázach podľa vlastnej potreby.

### **// alebo dať už upravenú tabuľku?**

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
filename_labor = "046/labor.csv"
labor = pd.read_csv(filename_labor, sep='\t')
labor.head()

,Unnamed: 0,weight,ssn,hemoglobin,alp,etytr,alt,erytrocyty,hbver,name,hematokrit,indicator,er-cv,leukocyty,smoker,relationship,ast,trombocyty
0,0,12.35740,803-27-3974,5.94182,86.80991,7.12559,2.18482,7.53345,7.51373,Kayla Rodriguez,6.98497,1.0,57.08422,7.21726,Y,married,77.99546,7.98017
1,1,118.10209,205-46-9278,6.45407,79.22919,5.34025,1.60706,6.53048,7.30977,Diane Holt,8.65706,1.0,63.49068,9.35320,no,widowed,31.27623,9.27384
2,2,89.97897,507-12-0831,9.73090,17.97254,9.49744,1.75153,5.96430,8.02289,David Bryant MD,7.46431,1.0,66.64176,7.36311,no,nop,52.03928,8.18942
3,3,137.89307,328-79-8098,8.65753,19.63713,8.90814,5.80869,8.47758,7.37768,Joshua Hickman,9.15039,1.0,62.03448,6.50476,no,single,63.20161,6.22091
4,4,95.55653,307-37-5739,5.96644,82.63100,6.84092,3.16471,7.38053,8.07490,Frank Glover,9.55976,1.0,79.48715,9.45322,N,married,28.53852,7.38761

In [3]:
filename_profiles = "046/profiles.csv"
profiles = pd.read_csv(filename_profiles, sep='\t')
profiles.head()

,Unnamed: 0,race,residence,job,birthdate,company,blood_group,sex,ssn,name
0,0,White,"108 Pham Loaf\nNew Shelby, IN 31526",Magazine features editor,2007/09/11,"Reynolds, Stewart and Tanner",O+,F,087-49-2961,Laura Valentine
1,1,Asian,"2246 Tammy Cliffs Apt. 057\nNorth Kim, MI 55878","Investment banker, operational",1971/05/20,Mcdonald-White,A-,F,704-69-2733,Angela Sullivan
2,2,White,"12245 Maxwell Island\nNorth Benjamin, KY 38697",Charity fundraiser,09 Oct 1945,"Waters, Davis and Mcintyre",AB+,F,787-12-1516,Haley Ramirez
3,3,White,"17000 Saunders Circles Apt. 457\nDonaldhaven, ...","Engineer, production","04/25/2006, 00:00:00",Watson and Sons,A+,F,127-86-0135,Mary Harris
4,4,Hawaiian,"43712 Andrea Expressway\nNorth Mckenzie, AZ 31049",IT consultant,1936-03-01,Alvarez PLC,B+,M,875-46-1555,Jeremy James

## 1. Integrácia a čistenie dát (5b)

Transformujte dáta na vhodný formát pre strojové učenie t.j. jedno pozorovanie musí byť opísané jedným riadkom a každý atribút musí byť v numerickom formáte. 
* Pri riešení chýbajúcich hodnôt (missing values) vyskúšajte rôzne stratégie z nasledujúcich podskupín:
    * odstránenie pozorovaní s chýbajúcimi údajmi
    * nahradenie chýbajúcej hodnoty mediánom, priemerom, pomerom (ku korelovanému atribútu), alebo pomocou lineárnej regresie resp. kNN
* Podobne postupujte aj pri riešení vychýlených hodnôt (outlier detection):
    * odstránenie vychýlených (odľahlých) pozorovaní
    * nahradenie vychýlenej hodnoty hraničnými hodnotami rozdelenia (5% resp. 95%)

## 2. Realizácia predspracovania dát (5b)

* Transformované dáta pre strojové učenie si rozdeľuje na trénovaciu a testovaciu množinu (train and test dataset) podľa vami preddefinovaným pomerom. Naďalej pracujte len s trénovacím datasetom.
* Transformujte atribútov dát pre strojové učenie podľa dostupných techník (minimálne 2 techniky) ako scaling, transformers a ďalšie.
* Zdôvodnite Vašu voľby/rozhodnutie pre realizáciu (t.j. zdokumentovanie)

## 3. Výber atribútov pre strojové učenie (5b)

* Zistite ktoré atribúty (features) vo vašich dátach pre strojové učenie sú informatívne k atribútu “indikator”. Zoradíte tie atribúty v poradí podľa dôležitosti. 
* Zdôvodnite Vašu voľby/rozhodnutie pre realizáciu (t.j. zdokumentovanie)

## 4. Replikovateľnosť predspracovania (5b)

* Upravte váš kód realizujúci predspracovanie trénovacej množiny tak, aby ho bolo možné bez ďalších úprav znovu použiť na predspracovanie testovacej množiny (napr. pomocou funkcie/í)
* Očakáva sa aj využitie možnosti sklearn.pipeline

Správa sa odovzdáva v 9. týždni semestra

Na cvičení, dvojica svojmu cvičiacemu odprezentuje vykonanú prieskumnú analýzu v Jupyter Notebooku.
Správu elektronicky odovzdá jeden člen z dvojice do systému AIS do nedele 21.11.2021 23:59.