# IAU Projekt

# Fáza 1

### Zadanie (the quest)

* Každá dvojica bude pracovať s pridelenou dátovou sadou (3. týždeň).
* Vašou úlohou je vedieť predikovať závislú hodnotu (indikator)

Budete sa musieť pritom vysporiadať s viacerými problémami, ktoré sa v dátach nachádzajú ako formáty dát, chýbajúce, vychýlené hodnoty a pod.

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
filename_labor = "046/labor.csv"
labor = pd.read_csv(filename_labor, sep='\t')
labor.head()

,Unnamed: 0,weight,ssn,hemoglobin,alp,etytr,alt,erytrocyty,hbver,name,hematokrit,indicator,er-cv,leukocyty,smoker,relationship,ast,trombocyty
0,0,12.35740,803-27-3974,5.94182,86.80991,7.12559,2.18482,7.53345,7.51373,Kayla Rodriguez,6.98497,1.0,57.08422,7.21726,Y,married,77.99546,7.98017
1,1,118.10209,205-46-9278,6.45407,79.22919,5.34025,1.60706,6.53048,7.30977,Diane Holt,8.65706,1.0,63.49068,9.35320,no,widowed,31.27623,9.27384
2,2,89.97897,507-12-0831,9.73090,17.97254,9.49744,1.75153,5.96430,8.02289,David Bryant MD,7.46431,1.0,66.64176,7.36311,no,nop,52.03928,8.18942
3,3,137.89307,328-79-8098,8.65753,19.63713,8.90814,5.80869,8.47758,7.37768,Joshua Hickman,9.15039,1.0,62.03448,6.50476,no,single,63.20161,6.22091
4,4,95.55653,307-37-5739,5.96644,82.63100,6.84092,3.16471,7.38053,8.07490,Frank Glover,9.55976,1.0,79.48715,9.45322,N,married,28.53852,7.38761

In [4]:
filename_profiles = "046/profiles.csv"
profiles = pd.read_csv(filename_profiles, sep='\t')
profiles.head()

,Unnamed: 0,race,residence,job,birthdate,company,blood_group,sex,ssn,name
0,0,White,"108 Pham Loaf\r\nNew Shelby, IN 31526",Magazine features editor,2007/09/11,"Reynolds, Stewart and Tanner",O+,F,087-49-2961,Laura Valentine
1,1,Asian,"2246 Tammy Cliffs Apt. 057\r\nNorth Kim, MI 55878","Investment banker, operational",1971/05/20,Mcdonald-White,A-,F,704-69-2733,Angela Sullivan
2,2,White,"12245 Maxwell Island\r\nNorth Benjamin, KY 38697",Charity fundraiser,09 Oct 1945,"Waters, Davis and Mcintyre",AB+,F,787-12-1516,Haley Ramirez
3,3,White,17000 Saunders Circles Apt. 457\r\nDonaldhaven...,"Engineer, production","04/25/2006, 00:00:00",Watson and Sons,A+,F,127-86-0135,Mary Harris
4,4,Hawaiian,"43712 Andrea Expressway\r\nNorth Mckenzie, AZ ...",IT consultant,1936-03-01,Alvarez PLC,B+,M,875-46-1555,Jeremy James

### 1. Základný opis dát spolu s ich charakteristikami (5 bodov)

* Pre dosiahnutie plného počtu bodov uveďte
* počet záznamov,
* počet atribútov,
* ich typy,
* pre zvolené významné atribúty ich distribúcie, základné deskriptívne štatistiky a pod.

#### DATASET labor.csv

In [41]:
labor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    10002 non-null  int64
 1   weight        10002 non-null  float64
 2   ssn           10002 non-null  object
 3   hemoglobin    9972 non-null   float64
 4   alp           9972 non-null   float64
 5   etytr         9972 non-null   float64
 6   alt           9971 non-null   float64
 7   erytrocyty    9972 non-null   float64
 8   hbver         9972 non-null   float64
 9   name          10002 non-null  object
 10  hematokrit    9972 non-null   float64
 11  indicator     10002 non-null  float64
 12  er-cv         9972 non-null   float64
 13  leukocyty     9972 non-null   float64
 14  smoker        10002 non-null  object
 15  relationship  10002 non-null  object
 16  ast           9972 non-null   float64
 17  trombocyty    9972 non-null   float64
dtypes: float64(13), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
Pocet not-null hodnot nie je rovnaky pre vsetky stlpce

#### DATASET profiles.csv

In [25]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3097 entries, 0 to 3096
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3097 non-null   int64
 1   race         3097 non-null   object
 2   residence    3097 non-null   object
 3   job          3097 non-null   object
 4   birthdate    3097 non-null   object
 5   company      3097 non-null   object
 6   blood_group  3097 non-null   object
 7   sex          3097 non-null   object
 8   ssn          3097 non-null   object
 9   name         3097 non-null   object
dtypes: int64(1), object(9)
memory usage: 242.1+ KB

### 2. Párová analýza dát (5 bodov)
* Preskúmajte vzťahy medzi zvolenými dvojicami atribútov.
* Identifikujte závislostí medzi dvojicami atribútov a závislosti medzi predikovanou premennou a ostatnými premennými.

### 3. Formulácia a štatistické overenie hypotéz o dátach (2 body)
* Sformulujte dve hypotézy o dátach v kontexte zadanej predikčnej úlohy. Príkladom je napr. pacienti v zlepšenom stave majú v priemere inú (vyššiu/nižšiu) hodnotu nejakej látky alebo hormónu ako pacienti v nezlepšenom stave.
* Sformulované hypotézy overte vhodne zvoleným štatistickým testom.

### 4. Identifikácia problémov v dátach s navrhnutým riešením (3 body)
* Identifikujte problémy v dátach napr.: nevhodná štruktúra dát, duplicitné záznamy, nejednotné formáty, chýbajúce hodnoty, vychýlené hodnoty. V dátach sa môžu nachádzať aj iné, tu nevymenované problémy.
* Navrhnuté riešenie prvotne realizujte na dátach.

### Správa sa odovzdáva v 6. týždni semestra

* Na cvičení, dvojica svojmu cvičiacemu odprezentuje vykonanú prieskumnú analýzu v Jupyter Notebooku.
* Správu elektronicky odovzdá jeden člen z dvojice do systému AIS do nedele 31.10.2021 23:59.